body {
    background: black;
}
p {
    color: white;
    font-size: 22px;
    text-align: center;
}
h1 {
    color: red;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
    
button {
    font-size: 25px;
    color: red;
    margin: 0 15px 0 15px;
}